body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper{
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repo-detail{
    padding:1em;
    border: 1px solid gray;
}

.repo-detail h3{
    padding:1em;
    border-bottom: 1px solid gray;
}